# Data Importing, Exploration, Cleaning and Visualising

### Importing libraries

In [1]:
# Importing the libraries needed for this part of the project 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import pymongo
from pymongo import MongoClient

### Connecting with the database

In [71]:
# Setting up MongoDB client, make sure to remove the <> when adding the password
mongoClient = pymongo.MongoClient("mongodb+srv://BrawlStars:0506@cluster0.pn2nd.mongodb.net/BrawlStars?retryWrites=true&w=majority")

test = mongoClient.test

# Initiating the database for the project
IBM_project = mongoClient['IBM_project']

# Setting up 2 collections for the app information and reviews
appsInformation = IBM_project['appsInformation']
appsData = IBM_project['appsData']

### Getting the data from the database

# To read the data that was just inserted into MongoDB
df = pd.DataFrame(list(appsData.find({})))

### Reading CSV files

In [2]:
# Storing the data into a dataframe
BoomBeach = pd.read_csv('BoomBeach.csv')
BrawlStars = pd.read_csv('BrawlStars.csv')
ClashOfClans = pd.read_csv('ClashOfClans.csv')
ClashQuest = pd.read_csv('ClashQuest.csv')
ClashRoyale = pd.read_csv('ClashRoyale.csv')
HayDay = pd.read_csv('HayDay.csv')

d:\pyenv\pyenv\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Droping duplicates

In [3]:
# In this section we clean the data by removing duplicates before concatenating
# Because we want to know if the unique id uses other apps of supercell 


BoomBeach.drop_duplicates(subset = 'reviewId', keep = 'first', inplace = True)
BrawlStars.drop_duplicates(subset = 'reviewId', keep = 'first', inplace = True)
ClashOfClans.drop_duplicates(subset = 'reviewId', keep = 'first', inplace = True)
ClashQuest.drop_duplicates(subset = 'reviewId', keep = 'first', inplace = True)
ClashRoyale.drop_duplicates(subset = 'reviewId', keep = 'first', inplace = True)
HayDay.drop_duplicates(subset = 'reviewId', keep = 'first', inplace = True)

### Merging dataframes into one

In [4]:
# Concatenating all dataframes into one

data = pd.concat([BoomBeach, BrawlStars, ClashOfClans, ClashQuest, ClashRoyale, HayDay], ignore_index = True)

### Creating a copy of the dataframe to use for analysis and exploration

In [5]:
# Creating a copy of the data so that we keep the main data un touched
df = data.copy()

In [6]:
# Checking the shape and size of the dataframe before cleaning
df.shape

(3743324, 14)

In [7]:
# Exploring the columns
df.columns

Index(['Unnamed: 0', '_id', 'reviewId', 'userName', 'userImage', 'content',
       'score', 'thumbsUpCount', 'reviewCreatedVersion', 'at', 'replyContent',
       'repliedAt', 'appName', 'appId'],
      dtype='object')

### Droping the columns that will not be used for this project

In [8]:
# In this section we clean the data by dropping unnecessary columns
df = df.drop(['userImage', 'replyContent', 'repliedAt', 'Unnamed: 0'], axis = 1)

In [9]:
# Checking the dataframe shape and size after remving duplicates and some columns
df.shape

(3743324, 10)

### Checking the information of the dataframe to check the data types

In [10]:
# Here we check the information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3743324 entries, 0 to 3743323
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   _id                   object
 1   reviewId              object
 2   userName              object
 3   content               object
 4   score                 int64
 5   thumbsUpCount         int64
 6   reviewCreatedVersion  object
 7   at                    object
 8   appName               object
 9   appId                 object
dtypes: int64(2), object(8)
memory usage: 285.6+ MB

It is clear that we need to change the type of the data presnted as 'at' to a datetime type.

### Converting the column 'at' into a date time data type because at represent the date

In [11]:
# This code will let us change the type of date data into datetime
df['at'] = pd.to_datetime(df['at'])

In [12]:
# Here we check if the code worked correctly
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3743324 entries, 0 to 3743323
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   _id                   object
 1   reviewId              object
 2   userName              object
 3   content               object
 4   score                 int64
 5   thumbsUpCount         int64
 6   reviewCreatedVersion  object
 7   at                    datetime64[ns]
 8   appName               object
 9   appId                 object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 285.6+ MB

Great now we have the data in the right format, next we need to quickly check if we have any missing values

### Checking missing values

In [13]:
# Here we check if we have missing values that could impact on our analysis
df.isnull().sum()

_id                           0
reviewId                      0
userName                      1
content                   14710
score                         0
thumbsUpCount                 0
reviewCreatedVersion    1007519
at                            0
appName                       0
appId                         0
dtype: int64

It seems like we have 14718 missing values on the content columns, this column is the customer reviews. We also have 1 missing values on the user name. The created version will not impact on our analysis as it can be easily identified by the app version prior to it.

At this stage I will only perform imputation on the username missing value and fill it with Unknown

### Filling missing values

In [14]:
# Filling the nan value of userName with Unknown
df['userName'].fillna('Unknown', inplace = True)

In [15]:
# Cehcking if the code worked 
df.isnull().sum()

_id                           0
reviewId                      0
userName                      0
content                   14710
score                         0
thumbsUpCount                 0
reviewCreatedVersion    1007519
at                            0
appName                       0
appId                         0
dtype: int64

### Checking the value counts of the appId, to get an idea of the size of our data for later balancing

In [16]:
# Here we check the value counts per an app 
df['appId'].value_counts()

com.supercell.clashroyale     1080000
com.supercell.clashofclans     780000
com.supercell.hayday           768682
com.supercell.brawlstars       594432
com.supercell.boombeach        519030
com.supercell.clashquest         1180
Name: appId, dtype: int64

In [17]:
# Here I will be creating a new column with the name count that will be used for monthly aggregations

df['count'] = 1

### In this section we create new features of positive, neutral and negative reviews of the whole dataset.

#### First we will create a new dataframe and the set the index the 'at' as an index which is the date

In [18]:
# First we set the date as an index for the whole dataset
df_indexed_date = df.set_index(['at'])
df_indexed_date.head(1)

,_id,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,appName,appId,count
at,,,,,,,,,,
2021-05-17 11:20:02,60a23abadb692423c850ea04,gp:AOqpTOFCjgLXsapigTc94pUkatmnkeXYINSGyhVsIg9...,Randika Dilshan,Super,1,0,43.87,Boom Beach,com.supercell.boombeach,1

#### Second we will create a new dataframe that represent the score type

In [19]:
# Here we assign each score to its score level
# 4 and 5 = Positive score, 3 = Neutral score and below 3 = Negative score

df_indexed_date.loc[df_indexed_date['score'] >= 4, 'Review type'] = 'Positive'

df_indexed_date.loc[df_indexed_date['score'] == 3, 'Review type'] = 'Neutral'

df_indexed_date.loc[df_indexed_date['score'] < 3, 'Review type'] = 'Negative'

In [20]:
# Lets check if the code took place in our dataset
df_indexed_date['Review type'].value_counts()

Positive    3156583
Negative     416755
Neutral      169986
Name: Review type, dtype: int64

### Renaming the appId values from the app link to the app name

In [21]:
# Here I rename the app ID to the app name only
df_indexed_date['appId'] = df_indexed_date['appId'].replace({'com.supercell.hayday': 'Hay Day'})
df_indexed_date['appId'] = df_indexed_date['appId'].replace({'com.supercell.boombeach': 'Boom Beach'})
df_indexed_date['appId'] = df_indexed_date['appId'].replace({'com.supercell.clashroyale': 'Clash Royale'})
df_indexed_date['appId'] = df_indexed_date['appId'].replace({'com.supercell.brawlstars': 'Brawl Stars'})
df_indexed_date['appId'] = df_indexed_date['appId'].replace({'com.supercell.clashofclans': 'Clash of Clans'})
df_indexed_date['appId'] = df_indexed_date['appId'].replace({'com.supercell.clashquest': 'Clash  Quest'})

### Selecting between April 2020 and May 2021

#### This is the year where I want to run my analysis on. The other reason for that is the size of the data, for example in order to scrape the whole reviews data for Clash of Clans, I need a big storage space and days of scraping, which is not needed in this project

In [22]:
# Now we will select between April 2020 and may 2021
df_all_2020_2021 = df_indexed_date.loc['2020-04-01': '2021-05-01']

<ipython-input-22-c9caa07fbc4d>:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df_all_2020_2021 = df_indexed_date.loc['2020-04-01': '2021-05-01']

#### We reset the index again so we can create new featurs and group by month

In [23]:
# Resetting the index
df_all_2020_2021.reset_index(inplace = True)
df_all_2020_2021.head(1)

,at,_id,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,appName,appId,count,Review type
0,2021-05-01 20:20:03,60a23abbdb692423c850ebfe,gp:AOqpTOGO6dnp27Rv8vCY2ppHTTw27o2rCkYt1FoqVOd...,Apple Sauce,I used to think of this as a 5star game (and I...,2,0,43.87,Boom Beach,Boom Beach,1,Negative

#### Here we export the data that will be used for further analysis into a csv file

In [24]:
df_all_2020_2021.to_csv('df_all_2020_2021.csv', index = False)